header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 1.5rem;
    background-color: rgb(208, 126, 75);
    margin: 0;
}

footer {
    background-color: rgb(191, 138, 104);
    width: 100%;
    margin: 0;
    padding: 1.5rem 0;
}

.footer-content {
    padding: 0 1.5rem;
}
main {
    background-color: rgb(229, 156, 107);
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    min-height: 100vh;
}

footer p:last-child {
    margin-bottom: 0;
}

footer p {
    margin: 0;
}
header,
main{
    padding: 1.5rem;
}

.btn-outline-custom {
    --bs-btn-color: rgb(208, 126, 75);
    --bs-btn-border-color: rgb(208, 126, 75);
    --bs-btn-border-width: 3px;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(208, 126, 75);
    --bs-btn-hover-border-color: rgb(208, 126, 75);
}
a {
    color: rgb(34, 9, 7);
    text-decoration: none;
}

.site-title {
    text-align: center;
    margin: 0;
    line-height: 1.1;
}
.texto-caja {
    background-color: #230808; /* marrón del proyecto */
    padding: 1.5rem;
    border-radius: 8px;
}

.texto-caja p {
    font-size: 1.5rem;   /* texto más grande */
    line-height: 1.6;   /* mejor lectura */
    margin-bottom: 0;
    color: rgb(229, 156, 107);     /* marrón oscuro, no negro puro */
}

.texto-caja h2 {
    color: rgb(229, 156, 107); 
    font-size: 3rem;
}
texto-caja button a {
    color: rgb(229, 156, 107); 
    font-size: 1.2rem;
}

section {
    margin-bottom: 80px;
}
/* Sección con fondo difuminado */
.section-difuminada1 {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: auto;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(216, 156, 116, 0.967);
    padding: 100px 60px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
